version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: redis-main
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  producer:
    build: .
    container_name: streaming_producer
    command: ["producer.py"]
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NUM_SHOWS=200
      - PYTRENDS_BATCH_SIZE=5
      - MAX_WORKERS=6
      - DATA_DIR=/data
      - NETFLIX_FILE=/data/netflix_titles.csv
      - IMDB_RATINGS_FILE=/data/title.ratings.tsv.gz
      - IMDB_BASICS_FILE=/data/title.basics.tsv.gz
    volumes:
      - ./data:/data
    depends_on:
      - redis

  consumer:
    build: .
    container_name: streaming_consumer
    command: ["consumer.py"]
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POP_BATCH=200
      - SNAPSHOT_FILE=/data/franchise_data_snapshot.ndjson
    volumes:
      - ./data:/data
    depends_on:
      - redis
      - producer

  app:
    build: .
    container_name: streaming_app
    command: ["streamlit", "run", "app.py", "--server.port=8501", "--server.address=0.0.0.0"]
    ports:
      - "8501:8501"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATA_DIR=/data
    volumes:
      - ./data:/data
    depends_on:
      - redis
      - consumer

volumes:
  redis_data: